@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.8;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 30px;
    }
  }

  .mouse {
    width: 30px;
    height: 45px;
    border: 5px solid #2b122b;
    border-radius: 60px;
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #2b122b;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2.5s infinite;
    }
  }

  .paused {
    animation-play-state: paused;
  }

  .block-appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }
}
