@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes ticker {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .ticker-track {
    animation: ticker 18s linear infinite;
  }
}
